.WeHub-componentInput {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.WeHub-componentInput__label {
  margin-bottom: 8px;
  font-weight: 600;
  color: #40454f;
  font-size: 14px;
}

.WeHub-componentInput__input {
  border: 1px solid #d0d6dc;
  padding: 8px 6px;
  border-radius: 8px;
  color: #40454f;
  font-size: 14px;
  width: 100%;
  outline: none;
  box-sizing: border-box;
}
